body{
    padding:0px;
    margin:0px;
}
header{
    height:45px;
    background-color:#333;
}
li{
    float:left;
    list-style:none;
    margin-left:65px;
}
ul{
    float:left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#D6D6D5;
    font-size:14px;
    margin-bottom:0px;
}
.rogo img{
    height:20px;
    width:20px;
    margin-left:35px;
}
.header-mini{
    background-color:#f5f5f7;
    height:40px;
}
.header-mini h1{
    font-size:12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#626264;
    margin-top:0px;
    padding-top:10px;
    padding-left:360px;
}
.header-mini a {
    color:#3c89D6;
    text-decoration: none; 
}
.header-mini a:visited { color:#3c89D6;} 